*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:goldenrod
}

h1{
    height: 20%;
    font-family: fantasy;
    margin: auto;
    text-align: center;
    color: whitesmoke;
}

.container{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.office{
    margin: 2px;
    border-top: 7px solid darkcyan;
    border-left: 7px solid darkcyan;
    border-right: 7px solid darkcyan;
}

#textquote{
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: none;
    margin-top: 25px;
    height: 140px;
    width: 100%;
    font-size: 40px;
    text-align: center;
    background: goldenrod;
}

#characterquote{
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: none;
    margin-top: 5px;
    margin-right: 40px;
    height: 60px;
    width: 100%;
    font-size: 30px;
    text-align: right;
    background: goldenrod;
}

img{
    margin-top: 7px;
    height: 380px;
    width: 850px;
}

#generate{
    margin-top: 10px;
    width: 10%;
    height: 20%;
    font-size: 30px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: darkcyan;
    color: whitesmoke;
    cursor: pointer;
}